div{
    float: left;
}

.box1{
    width: 400px;
    height: 200px;
    background-color: rgb(0, 175, 233);
}
.box2{
    width: 400px;
    height: 200px;
    background-color: rgb(0, 255, 0);
}
.box3{
    width: 400px;
    height: 200px   ;
    background-color: rgb(228, 14, 14);
}
.box4{
    width: 400px;
    height: 200px;
    background-color: rgb(255, 255, 21);
}