h1{
    color: blue;
    background-color: rgb(164, 235, 164);
}

body{
    background-color: rgb(0, 0, 0);
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    background-position: right;
}
p{
    color: rgb(255, 239, 12);
}